HOST='http://www.insukoon.com'
DJANGO_SECRET_KEY=<django-insecure-key>

# Database Connection
DATABASE_USERNAME=''
DATABASE_PASSWORD=''
DATABASE_NAME=''
DATABASE_HOST=''
DATABASE_PORT='5432'

# Payment Gateway
MERCHANT_ID=''
PAYMENT_GTW_URL=''
ACCESS_CODE=''
ENCRYPTION_KEY=''

# Payment Confirmation
PAYMENT_REDIRECT_URL=''
PAYMENT_CANCEL_URL=''

# Hosts
ALLOWED_HOSTS=*

# Email
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT='587'
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
